body {
    font-family: sans-serif;
  }
  h1{
    text-align: center;
  }
  .container{
    max-width:900px;
  display:grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 12px;
  }
 
   
  
  input, textarea, button {
    display:block;
    width: 90%;
    margin: 0 auto 10px;
    padding:1em;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: double 5px rgb(219, 219, 219);
    padding:.5em;
    box-shadow: 6px 6px 12px rgb(219, 219, 219);
   height: 50vh;
    overflow: auto;
    scroll-behavior: smooth;
  }
  
  li {
    margin-bottom: 10px;
  }
  form{
    border: double 5px rgb(219, 219, 219);
    padding:.5em
  }
  form input{
    max-width:90%;
    margin:.5em;
    
  }
  
  .remitente {
    font-weight: bold;
  }